body{
  margin:0;
  padding:0;
  background: url('matrix_efect.gif') repeat fixed, linear-gradient(#0b0b0b, #1c1c1c);
  font-family: 'Share Tech Mono', monospace;
  color:#e0e0e0;
}
#container{
  width:900px;
  margin:20px auto;
  border:4px double #444;
  background: linear-gradient(#141414, #1c1c1c);
  box-shadow: 0 0 20px #00ffcc;
  padding:12px;
}
header{text-align:center;}
h1{font-size:44px; margin:6px 0; color:#02ca1a; text-shadow:0 0 8px #02ca1a}
.marquee{background:#000; color:#0f0; padding:6px; font-weight:bold}
table.layout{width:100%;}
.sidebar{
  width:260px; vertical-align:top; padding:8px; background:rgba(34,34,34,0.9); border:1px dashed #555;
}
.main{padding:8px; vertical-align:top;}
.post{border-bottom:2px dotted #444; margin-bottom:12px; padding-bottom:8px}
.post h2{font-size: 15px; margin:6px 0; color:#0f792d}
.small{font-size:12px; color:#aaa}
.link{color:#66ccff; text-decoration:underline}
footer{font-size:12px; text-align:center; margin-top:12px; color:#777}
